@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
	font-family: Montserrat;
	background-color: #7b1fa2;
	color: #ffffff;
	margin: 0;
}

.wrapper {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.header {
	font-size: 5rem;
	font-weight: bold;
	margin-top: 5rem;
	margin-bottom: 5rem;
}

.grogg {
	font-size: 4rem;
	margin-bottom: 5rem;
}

.button {
	height: 5rem;
	width: 17rem;
	font-size: 1.5rem;
	border-radius: 2.5rem;
	background-color: #4caf50;
	border: none;
}
